*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
header{
    height: 30px;
    width: 100%;
    position: relative;
    background-color: black;
}
nav{
    height: 30px;
    width: 100%;
    left: 5px;
    position: absolute;
}
.lap{
    top: 5px;
    left: 50px;
    color: white;
    position: absolute;
}
.top{
    top: 5px;
    left: 20%;
    color: white;
    position: absolute;
}
p{
    top: 5px;
    left: 90%;
    position: absolute;
    color: white;
}
.fun{
    height: 100px;
    width: 100%;
    position: absolute;
    background-color: lightskyblue;
    top: 30px;
    left: -5px;
}
.logo{
    height: 50px;
    width: 50px;
    top: 40px;
    left: 20px;
    position: absolute;
}
img{
    height: 50px;
    width: 100%;
    position: absolute;
    border-radius: 50px;
}
.up{
    top: 40px;
    left: 80px;
    position: absolute;
    color: white;
}
.down{
    top: 60px;
    left: 80px;
    position: absolute;
    color: black;
    padding: 5px 5px;
    background-color: red;
}
.middle{
    top: 35px;
    left: 55%;
    position: absolute;
    font-size: larger;
    color: black;
}
.icon{
    top: 70px;
    left: 35%;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}
.menu{
    height: 28px;
    width: 100%;
    background-color: blueviolet;
    position: absolute;
    top: 105px;
    margin-left: -5px;
}
a{
    display: inline-flex;
    justify-content: space-evenly;
    width: 50%;
    text-decoration: none;
    color: rgb(12, 1, 1);
    position: relative;
    margin-left: 120px;
    top: 5px;
}
li{
    display: inline-flex;
}
.car{
    background-color: white;
    padding: 5px 5px;    
    margin-top: -5px;
    
}
.van{
    background-color: red;
    padding: 5px;
    margin-top: -10px;
}

